if TARGET_IMX8MQ_RHOS

config SYS_BOARD
	default "rhos"

config SYS_VENDOR
	default "ravion"

config SYS_CONFIG_NAME
	default "imx8mq_rhos"

config IMX_CONFIG
	default "arch/arm/mach-imx/imx8m/imximage.cfg"

endif
