if TARGET_IMX8MQ_RHOS

config SYS_BOARD
	default "rhos"

config SYS_SOC
	default "imx8mq"

config SYS_VENDOR
	default "ravion"

config SYS_CONFIG_NAME
	default "imx8mq_rhos"

config IMX_CONFIG
	default "arch/arm/mach-imx/imx8m/imximage.cfg"

config RAVION_CFG_BLOCK
	default y

config RAVION_HAVE_MMC
	default y

config RAVION_CFG_BLOCK_DEV
	default "0"

config RAVION_CFG_BLOCK_PART
	default "1"

# Ravion config block in eMMC, at the end of 1st "boot sector"
config RAVION_CFG_BLOCK_OFFSET
	default "-512"

source "board/ravion/common/Kconfig"

endif
