if TARGET_RAVION_IMX6

config SYS_BOARD
	default "ravion"

config SYS_CONFIG_NAME
	default "ravion_imx6"

config SYS_CPU
	default "armv7"

config SYS_SOC
	default "mx6"

config SYS_VENDOR
	default "ravion"

config RAVION_CFG_BLOCK
	default y

config RAVION_HAVE_MMC
	default y

config RAVION_CFG_BLOCK_DEV
	default "0"

config RAVION_CFG_BLOCK_PART
	default "1"

# Ravion config block in eMMC, at the end of 1st "boot sector"
config RAVION_CFG_BLOCK_OFFSET
	default "-512"

source "board/ravion/common/Kconfig"

endif
