/*
 * Copyright 2018 Radioavionica Corp.
 *
 * Author: Alex A. Mihaylov <minimumlaw@rambler.ru>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>


/ {
	/*
	 * Power sources
	 */
	avcc_reg: avcc_regulator {
		compatible = "regulator-fixed";
		regulator-name = "avcc-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	p3v3_reg: p3v3_regulator {
		compatible = "regulator-fixed";
		regulator-name = "3v3-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_usb_otg_vbus: regulator-usb-otg-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_regulator_usb_otg_pwr>;
		regulator-name = "usb_otg_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio1 0 GPIO_ACTIVE_HIGH>; /* USBO_PEN : soDimm 129 */
	};

	/*
	 * All ravion board have power key on soDimm pin 45
	 */
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		power {
			label = "Power";
			gpios = <&gpio5 20 GPIO_ACTIVE_LOW>;	/* soDimm 45 */
			linux,code = <KEY_POWER>;
			debounce-interval = <100>;
			wakeup-source;
		};
	};

	/*
	 * All ravion board use nRESET output signal on soDimm pin 87
	 */
	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		reset_out {
			label = "nRESET_OUT";
			gpios = <&gpio5 7 GPIO_ACTIVE_HIGH>; /* soDimm 87 */
			default-state = "on";
		};
	};

	/*
	 * All ravion board have power-off output on soDimm pin 133
	 */
	gpio-poweroff {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_poweroff>;
		compatible = "gpio-poweroff";
		gpios = <&gpio2 11 GPIO_ACTIVE_LOW>;		/* soDimm 133 */
	};

	/*
	 * Sound subsystem
	 */
	sound {
		compatible = "fsl,imx6-ravion-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "imx6-ravion-sgtl5000";
		ssi-controller = <&ssi1>;
		audio-codec = <&sgtl5000>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <1>;
		mux-ext-port = <4>;
	};
};


/*
 * Serial ports
 */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	uart-has-rtscts;
	uart-has-dtrdsr;
	status = "disabled";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
#if 0 /* See pincrtl_uart2 for thinks _MUST_ be fixed in NEXT hardware module revision */
	uart-has-rtscts;
#else /* this time very simplest software bugfix used */
	cts-gpios = <&gpio3 28 GPIO_ACTIVE_LOW>;
	rts-gpios = <&gpio3 29 GPIO_ACTIVE_LOW>;
#endif
	status = "disabled";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "disabled";
};

/*
 * I2C Busses
 */
&i2c1 { /* Internal I2C interfcae */
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic: pfuze100@8 {
		compatible = "fsl,pfuze100";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw1c_reg: sw1c {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw3a_reg: sw3a {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3b_reg: sw3b {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

	sgtl5000: codec@a {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_codec>;
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		VDDA-supply = <&avcc_reg>;
		VDDIO-supply = <&p3v3_reg>;
		VDDD-supply = <&vgen2_reg>;
		micbias-resistor-k-ohms = <2>;
		micbias-voltage-m-volts = <2250>;
		clocks = <&clks IMX6QDL_CLK_CKO>;
		lrclk-strength = <3>;
	};
};

&i2c2 { /* Compatible I2C: soDimm 194, 196 */
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "disabled";

};

&i2c3 { /* Extended I2C: soDimm 128, 130 */
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "disabled";
};

/*
 * SPI Bus
 */
&ecspi1 {
	cs-gpios = <&gpio5 25 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "disabled";
};


/*
 * SD/MMC and eMMC controllers
 */
&usdhc1 { /* compatible */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>;
/*	cd-gpios = <&gpio5 2 GPIO_ACTIVE_LOW>;	* soDimm 43 */
	bus-width = <4>;
	no-1-8-v;
	status = "disabled";
};

&usdhc2 { /* externed */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
/*	cd-gpios = <&gpio2 24 GPIO_ACTIVE_LOW>;	* soDimm 106 */
	bus-width = <4>;
	no-1-8-v;
	status = "disabled";
};

&usdhc3 { /* eMMC */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	vmmc-supply = <&p3v3_reg>;
	vqmmc-supply = <&vgen3_reg>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

/*
 * Ethernet controller
 */

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rmii";
	phy-handle = <&eth_phy>;
	status = "okay";

	mdio {
               #address-cells = <1>;
               #size-cells = <0>;

		eth_phy: ethernet-phy@0 {
			reg = <0>;
			phy-is-integrated;
			reset-gpios = <&gpio6 7 GPIO_ACTIVE_LOW>;
			interrupt-parent = <&gpio6>;
			interrups = <8 IRQ_TYPE_EDGE_RISING>;
		};
	};
};

/*
 * Audio (digital part)
 */
&audmux {	status = "okay";	};
&ssi1 {		status = "okay";	};

/*
 * High-speed serial bus
 */
&pcie {		status = "disabled";	};
#ifndef IMX6DL /* only quad have SATA interface */
&sata {		status = "disabled";	};
#endif

/*
 * USB Subsystem
 */
&usbh1 {
	vbus-supply = <&swbst_reg>;
	disable-over-current;
	status = "okay";
};

&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	vbus-supply = <&reg_usb_otg_vbus>;
	disable-over-current;

	dr_mode = "otg";
	status = "okay";
};

/*
 * PWMs
 */
&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "disabled";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "disabled";
};

/*
 * Video subsystems
 */
&hdmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hdmi>;
	status = "disabled";
};

/*
 * LVDS display bridge
 */
&ldb {
	status = "disabled";

	lvds0_chan: lvds-channel@0 {
		status = "disabled";

		port@4 {
			reg = <4>;

			lvds0_out: endpoint {
				/* ToDo: place LVDS panel input endpoint here */
			};
		};
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = < /* se unused pins to GPIO input */
			/* Unused I2S interface on pins 2,4,6,8 */
			MX6QDL_PAD_DISP0_DAT16__GPIO5_IO10	0x1b0b0 /* soDimm2 */
			MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12	0x1b0b0 /* soDimm4 */
			MX6QDL_PAD_DISP0_DAT17__GPIO5_IO11	0x1b0b0 /* soDimm6 */
			MX6QDL_PAD_DISP0_DAT19__GPIO5_IO13	0x1b0b0 /* soDimm8 */
			/* Unused OTG VBus detector (MX6QDL_PAD_GPIO_7__USB_OTG_HOST_MODE) */
			MX6QDL_PAD_GPIO_7__GPIO1_IO07		0x1b0b0 /* soDimm137 */
		>;
	};

	/*
	 * Power control
	 */
	pinctrl_gpio_poweroff: gpio-poweroff {
		fsl,pins = <
			MX6QDL_PAD_SD4_DAT3__GPIO2_IO11		0x0f058 /* soDimm133 */
		>;
	};

	pinctrl_gpio_keys: gpio-keys {
		fsl,pins = <	/* Power button */
			MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20	0x1b0b0	/* soDimm45 */
		>;
	};

	pinctrl_gpio_leds: gpio-leds {
		fsl,pins = <	/* nRESET_OUT */
			MX6QDL_PAD_DISP0_DAT13__GPIO5_IO07	0x0f058 /* soDimm87 */
		>;
	};

	/*
	 * USB subsystem
	 */
	pinctrl_regulator_usb_otg_pwr: gpioregusbopwrgrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_0__GPIO1_IO00		0x0f058	/* soDimm129 */
		>;
	};

	/*
	 * Uart serial interfaces
	 */
	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART1_DTR_B		0x1b0b1	/* soDimm23 */
			MX6QDL_PAD_EIM_D19__UART1_CTS_B		0x1b0b1	/* soDimm25 */
			MX6QDL_PAD_EIM_D20__UART1_RTS_B		0x1b0b1	/* soDimm27 */
			MX6QDL_PAD_EIM_D25__UART1_DSR_B		0x1b0b1	/* soDimm29 */
			MX6QDL_PAD_EIM_D23__UART1_DCD_B		0x1b0b1	/* soDimm31 */
			MX6QDL_PAD_CSI0_DAT11__UART1_RX_DATA	0x1b0b1	/* soDimm33 */
			MX6QDL_PAD_CSI0_DAT10__UART1_TX_DATA	0x1b0b1	/* soDimm35 */
			MX6QDL_PAD_EIM_EB3__UART1_RI_B		0x1b0b1	/* soDimm37 */
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
#if 0 /* This _MUST_ be fixed in NEXT hardware module revision */
			MX6QDL_PAD_EIM_D29__UART2_CTS_B		0x1b0b1	/* soDimm32 */
			MX6QDL_PAD_EIM_D28__UART2_RTS_B		0x1b0b1	/* soDimm34 */
#else
			MX6QDL_PAD_EIM_D28__GPIO3_IO28		0x1b0b1	/* soDimm32 */
			MX6QDL_PAD_EIM_D29__GPIO3_IO29		0x1b0b1	/* soDimm34 */
#endif
			MX6QDL_PAD_SD4_DAT4__UART2_RX_DATA	0x1b0b1	/* soDimm36 */
			MX6QDL_PAD_SD4_DAT7__UART2_TX_DATA	0x1b0b1	/* soDimm38 */
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__UART3_TX_DATA	0x1b0b1	/* soDimm21 */
			MX6QDL_PAD_SD4_CLK__UART3_RX_DATA	0x1b0b1	/* soDimm19 */
		>;
	};

	/*
	 * I2C bus interfaces
	 */
	pinctrl_i2c1: i2c1grp { /* Internal: PMIC, codec, etc... */
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT9__I2C1_SCL		0x4001b8b1
			MX6QDL_PAD_CSI0_DAT8__I2C1_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c2: i2c2grp { /* Compatible */
		fsl,pins = <
			MX6QDL_PAD_EIM_EB2__I2C2_SCL		0x4001b8b1 /* soDImm196 */
			MX6QDL_PAD_EIM_D16__I2C2_SDA		0x4001b8b1 /* soDimm194 */
		>;
	};

	pinctrl_i2c3: i2c3grp { /* Extended */
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__I2C3_SCL		0x4001b8b1 /* soDimm128 */
			MX6QDL_PAD_EIM_D18__I2C3_SDA		0x4001b8b1 /* soDimm130 */
		>;
	};

	/*
	 * SPI bus
	 */
	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT6__ECSPI1_MISO	0x100b1 /* soDimm90 */
			MX6QDL_PAD_CSI0_DAT5__ECSPI1_MOSI	0x100b1	/* soDimm92 */
			MX6QDL_PAD_CSI0_DAT4__ECSPI1_SCLK	0x100b1 /* soDimm88 */
			/* SPI CS */
			MX6QDL_PAD_CSI0_DAT7__GPIO5_IO25	0x000b1	/* soDimm86 */
		>;
	};

	/*
	 * SD/MMC and eMMC controllers
	 */
	pinctrl_usdhc1: usdhc1grp { /* Compatible */
		fsl,pins = <
			MX6QDL_PAD_SD1_CMD__SD1_CMD		0x17059	/* soDimm190 */
			MX6QDL_PAD_SD1_CLK__SD1_CLK		0x10059	/* soDimm47 */
			MX6QDL_PAD_SD1_DAT0__SD1_DATA0		0x17059	/* soDimm192 */
			MX6QDL_PAD_SD1_DAT1__SD1_DATA1		0x17059	/* soDimm49 */
			MX6QDL_PAD_SD1_DAT2__SD1_DATA2		0x17059	/* soDimm51 */
			MX6QDL_PAD_SD1_DAT3__SD1_DATA3		0x17059	/* soDimm53 */
			MX6QDL_PAD_EIM_A25__GPIO5_IO02		0x0f058	/* soDimm43 */
		>;
	};

	pinctrl_usdhc2: usdhc2grp { /* Extended */
		fsl,pins = <
			MX6QDL_PAD_SD2_CMD__SD2_CMD		0x17059	/* soDimm99 */
			MX6QDL_PAD_SD2_CLK__SD2_CLK		0x10059	/* soDimm89 */
			MX6QDL_PAD_SD2_DAT0__SD2_DATA0		0x17059	/* soDimm93 */
			MX6QDL_PAD_SD2_DAT1__SD2_DATA1		0x17059	/* soDimm95 */
			MX6QDL_PAD_SD2_DAT2__SD2_DATA2		0x17059	/* soDimm105 */
			MX6QDL_PAD_SD2_DAT3__SD2_DATA3		0x17059	/* soDimm107 */
			MX6QDL_PAD_EIM_CS1__GPIO2_IO24		0x0f058	/* soDimm106 */
		>;
	};

	pinctrl_usdhc3: usdhc3grp { /* internal eMMC card */
		fsl,pins = <
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17059
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10059
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17059
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x17059
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x17059
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x17059
			MX6QDL_PAD_SD3_DAT4__SD3_DATA4		0x17059
			MX6QDL_PAD_SD3_DAT5__SD3_DATA5		0x17059
			MX6QDL_PAD_SD3_DAT6__SD3_DATA6		0x17059
			MX6QDL_PAD_SD3_DAT7__SD3_DATA7		0x17059
			MX6QDL_PAD_SD3_RST__SD3_RESET		0x17059
		>;
	};

	/*
	 * Ethernet
	 */
	pinctrl_enet: enetgrp {
		fsl,pins = <
			/* MDIO bus */
			MX6QDL_PAD_ENET_MDC__ENET_MDC		0x1b0b0
			MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x1b0b0
			/* receive */
			MX6QDL_PAD_GPIO_16__ENET_REF_CLK	((1<<30) | 0x1b030)
			MX6QDL_PAD_ENET_RXD0__ENET_RX_DATA0	0x1b030
			MX6QDL_PAD_ENET_RXD1__ENET_RX_DATA1	0x1b030
			MX6QDL_PAD_ENET_CRS_DV__ENET_RX_EN	0x1b030
			MX6QDL_PAD_ENET_RX_ER__ENET_RX_ER	0x1b030
			/* transmitt */
			MX6QDL_PAD_ENET_TXD0__ENET_TX_DATA0	0x1b030
			MX6QDL_PAD_ENET_TXD1__ENET_TX_DATA1	0x1b030
			MX6QDL_PAD_ENET_TX_EN__ENET_TX_EN	0x1b030
			/* phy control pins */
			MX6QDL_PAD_NANDF_CLE__GPIO6_IO07	0x0f058 /* nPHY_RESET */
			MX6QDL_PAD_NANDF_ALE__GPIO6_IO08	0x1b0b0 /* nPHY_IRQ */
		>;
	};

	/*
	 * Audio (digital part)
	 */
	pinctrl_codec: codecgrp {
		fsl,pins = <
			MX6QDL_PAD_DISP0_DAT23__AUD4_RXD	0x130b0
			MX6QDL_PAD_DISP0_DAT20__AUD4_TXC	0x130b0
			MX6QDL_PAD_DISP0_DAT21__AUD4_TXD	0x110b0
			MX6QDL_PAD_DISP0_DAT22__AUD4_TXFS	0x130b0
			/* Codec MCLK clock output */
			MX6QDL_PAD_GPIO_5__CCM_CLKO1		0x000b0
		>;
	};

	pinctrl_hdmi: hdmigrp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__HDMI_TX_DDC_SCL	0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__HDMI_TX_DDC_SDA	0x4001b8b1
			/* MX6QDL_PAD_KEY_ROW2__HDMI_TX_CEC_LINE	0x4001b8b1 */
		>;
	};


	/*
	 * Parrallel camera capture interface
	 */
	pinctrl_ipu1_csi0: ipu1csi0grp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT12__IPU1_CSI0_DATA12		0xb0b1	/* soDimm101 CIF_DATA2 */
			MX6QDL_PAD_CSI0_DAT13__IPU1_CSI0_DATA13		0xb0b1	/* soDimm103 CIF_DATA3 */
			MX6QDL_PAD_CSI0_DAT14__IPU1_CSI0_DATA14		0xb0b1	/* soDimm79  CIF_DATA4 */
			MX6QDL_PAD_CSI0_DAT15__IPU1_CSI0_DATA15		0xb0b1	/* soDimm97  CIF_DATA5 */
			MX6QDL_PAD_CSI0_DAT16__IPU1_CSI0_DATA16		0xb0b1	/* soDimm67  CIF_DATA6 */
			MX6QDL_PAD_CSI0_DAT17__IPU1_CSI0_DATA17		0xb0b1	/* soDimm59  CIF_DATA7 */
			MX6QDL_PAD_CSI0_DAT18__IPU1_CSI0_DATA18		0xb0b1	/* soDimm85  CIF_DATA8 */
			MX6QDL_PAD_CSI0_DAT19__IPU1_CSI0_DATA19		0xb0b1	/* soDimm65  CIF_DATA9 */
			MX6QDL_PAD_CSI0_PIXCLK__IPU1_CSI0_PIXCLK	0xb0b1	/* soDimm96  CIF_PCLK */
			MX6QDL_PAD_CSI0_MCLK__IPU1_CSI0_HSYNC		0xb0b1	/* soDimm94  CIF_HSYNC */
			MX6QDL_PAD_CSI0_VSYNC__IPU1_CSI0_VSYNC		0xb0b1	/* soDimm81  CIF_VSYNC */
		>;
	};

	/*
	 * LCD interface (TFT BUS)
	 */
	pinctrl_ipu1_di1: ipu1di1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_A16__IPU1_DI1_DISP_CLK	0x61	/* soDimm56  TFT_PCLK  */
			MX6QDL_PAD_EIM_DA10__IPU1_DI1_PIN15	0x61	/* soDimm44  TFT_DE    */
			MX6QDL_PAD_EIM_DA11__IPU1_DI1_PIN02	0x61	/* soDimm68  TFT_HSYNC */
			MX6QDL_PAD_EIM_DA12__IPU1_DI1_PIN03	0x61	/* soDimm82  TFT_VSYNC */
			MX6QDL_PAD_EIM_DA9__IPU1_DISP1_DATA00	0x61	/* soDimm76  TFT_DAT00 */
			MX6QDL_PAD_EIM_DA8__IPU1_DISP1_DATA01	0x61	/* soDimm70  TFT_DAT01 */
			MX6QDL_PAD_EIM_DA7__IPU1_DISP1_DATA02	0x61	/* soDimm60  TFT_DAT02 */
			MX6QDL_PAD_EIM_DA6__IPU1_DISP1_DATA03	0x61	/* soDimm58  TFT_DAT03 */
			MX6QDL_PAD_EIM_DA5__IPU1_DISP1_DATA04	0x61	/* soDimm78  TFT_DAT04 */
			MX6QDL_PAD_EIM_DA4__IPU1_DISP1_DATA05	0x61	/* soDimm72  TFT_DAT05 */
			MX6QDL_PAD_EIM_DA3__IPU1_DISP1_DATA06	0x61	/* soDimm80  TFT_DAT06 */
			MX6QDL_PAD_EIM_DA2__IPU1_DISP1_DATA07	0x61	/* soDimm46  TFT_DAT07 */
			MX6QDL_PAD_EIM_DA1__IPU1_DISP1_DATA08	0x61	/* soDimm62  TFT_DAT08 */
			MX6QDL_PAD_EIM_DA0__IPU1_DISP1_DATA09	0x61	/* soDimm48  TFT_DAT09 */
			MX6QDL_PAD_EIM_EB1__IPU1_DISP1_DATA10	0x61	/* soDimm74  TFT_DAT10 */
			MX6QDL_PAD_EIM_EB0__IPU1_DISP1_DATA11	0x61	/* soDimm50  TFT_DAT11 */
			MX6QDL_PAD_EIM_A17__IPU1_DISP1_DATA12	0x61	/* soDimm52  TFT_DAT12 */
			MX6QDL_PAD_EIM_A18__IPU1_DISP1_DATA13	0x61	/* soDimm54  TFT_DAT13 */
			MX6QDL_PAD_EIM_A19__IPU1_DISP1_DATA14	0x61	/* soDimm66  TFT_DAT14 */
			MX6QDL_PAD_EIM_A20__IPU1_DISP1_DATA15	0x61	/* soDimm64  TFT_DAT15 */
			MX6QDL_PAD_EIM_A21__IPU1_DISP1_DATA16	0x61	/* soDimm57  TFT_DAT16 */
			MX6QDL_PAD_EIM_A22__IPU1_DISP1_DATA17	0x61	/* soDimm61  TFT_DAT17 */
			MX6QDL_PAD_EIM_A23__IPU1_DISP1_DATA18	0x61	/* soDimm136 TFT_DAT18 */
			MX6QDL_PAD_EIM_A24__IPU1_DISP1_DATA19	0x61	/* soDimm138 TFT_DAT19 */
			MX6QDL_PAD_EIM_D31__IPU1_DISP1_DATA20	0x61	/* soDimm140 TFT_DAT20 */
			MX6QDL_PAD_EIM_D30__IPU1_DISP1_DATA21	0x61	/* soDimm142 TFT_DAT21 */
			MX6QDL_PAD_EIM_D26__IPU1_DISP1_DATA22	0x61	/* soDimm144 TFT_DAT22 */
			MX6QDL_PAD_EIM_D27__IPU1_DISP1_DATA23	0x61	/* soDimm146 TFT_DAT23 */
		>;
	};

	/*
	 * USB OTG
	 */
	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID		0x1b0b0 /* soDimm135 */
		>;
	};

	/*
	 * PWMs
	 */
	pinctrl_pwm3: pwm3grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_DAT1__PWM3_OUT		0x1b0b1 /* soDimm28 */
		>;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_DAT2__PWM4_OUT		0x1b0b1 /* soDimm30 */
		>;
	};
};
