/*****************************************************************************
 *
 *****************************************************************************/

#include <imx6qdl-u-boot.dtsi> 

/ {
	chosen {
		u-boot,dm-pre-reloc;
		u-boot,dm-spl;
		stdout-path = &uart1;
	};

	gpio-keys	{ u-boot,dm-pre-reloc; };
	gpio-leds	{ u-boot,dm-pre-reloc; };

	wdt-reboot {
		compatible = "wdt-reboot";
		wdt = <&wdog1>;
	};

	clocks {
		u-boot,dm-spl;
		ckil {	/* 32768 */
			u-boot,dm-spl;
		};
		osc {	/* 24000000 */
			u-boot,dm-spl;
		};
	}; /* Clocks */
};

/* keep specific clocks for SPL */
&clks	{ u-boot,dm-spl; };
&wdog1	{ u-boot,dm-spl; };
&wdog2	{ u-boot,dm-spl; };

/*
 * keep specific devices for SPL
 */
&uart1		{ u-boot,dm-spl; };	/* Console */
&i2c1		{ u-boot,dm-spl; };	/* PMIC interface */
&usdhc2		{ u-boot,dm-spl; };	/* SD1 */
&usdhc3		{ u-boot,dm-spl; };	/* eMMC */
&wdog1		{ u-boot,dm-spl; };	/* WatchDog */
&usbh1		{ u-boot,dm-spl; };	/* HOST */
&usbotg		{ u-boot,dm-spl; };	/* OTG */
&usbphy1	{ u-boot,dm-spl; };
&usbphy2	{ u-boot,dm-spl; };
&usbmisc	{ u-boot,dm-spl; };
&anatop		{ u-boot,dm-spl; };
&gpio1		{ u-boot,dm-spl; };
&gpio2		{ u-boot,dm-spl; };
&gpio3		{ u-boot,dm-spl; };
&gpio4		{ u-boot,dm-spl; };
&gpio5		{ u-boot,dm-spl; };
&gpio6		{ u-boot,dm-spl; };
&gpio7		{ u-boot,dm-spl; };
&iomuxc		{ u-boot,dm-spl; };

&pinctrl_hog	{ u-boot,dm-spl; };
&pinctrl_uart1	{ u-boot,dm-spl; };
&pinctrl_pmic	{ u-boot,dm-spl; };
&pinctrl_sd1	{ u-boot,dm-spl; };
&pinctrl_emmc	{ u-boot,dm-spl; };

&pmic { /* PMIC chip */
	u-boot,dm-spl;

	regulators {
		u-boot,dm-spl;
	};
};

&pinctrl_i2c_int	{ u-boot,dm-spl; };
