// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Radioavionica Corp., Alex A. Mihaylov <minimumlaw@rambler.ru>
 */

/dts-v1/;

#include "dt-bindings/input/input.h"
#include "rk3568-rhos.dtsi"

/ {
	model = "PKK-M7 with RHOS-RK3568J CPU Module";
	compatible = "ravion,pkk-m7", "ravion,rk3568-rhos", "rockchip,rk3568";

	chosen {
		stdout-path = "serial2:115200n8";
	};

	p18v: regulator-p18v {
		compatible = "regulator-fixed";
		regulator-name = "p18v";
		regulator-min-microvolt = <18000000>;
		regulator-max-microvolt = <18000000>;
		regulator-always-on;
	};

	p12v: regulator-p12v {
		compatible = "regulator-fixed";
		regulator-name = "p12v";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-always-on;
	};

	p5v: regulator-p5v {
		compatible = "regulator-fixed";
		regulator-name = "p5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	p3v3: regulator-p3v3 {
		compatible = "regulator-fixed";
		regulator-name = "p3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	p1v8: regulator-p1v8 {
		compatible = "regulator-fixed";
		regulator-name = "p1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	gpio-leds {
		compatible = "gpio-leds";

		status_led {
			label = "status";
			gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_HIGH>;	/* soDimm166 */
			default-state = "on";
		};

		tmg_pwr_pe {
			label = "PWR::TMG";
			gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;	/* soDimm169 */
			default-state = "off";
		};

		vu_pwr_pe {
			label = "PWR::VU";
			gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_HIGH>;	/* soDimm152 */
			default-state = "on";
		};

		hp_amp_en {
			label = "hp_amp_en";
			gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;	/* soDimm173 */
			default-state = "on";
		};
/*** Attention: May be this bad idea ***/
		wl_en {
			label = "wl_en";
			gpios = <&gpio2 RK_PD6 GPIO_ACTIVE_HIGH>;	/* soDimm158 */
			default-state = "on";
		};

		sim_fly {
			label = "sim_fly";
			gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;	/* soDimm175 */
			default-state = "on";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		sw1-key {
			label = "SW1";
			linux,code = <KEY_F1>;
			gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_LOW>;	/* soDimm168 */
			debounce-interval = <25>;
			wakeup-source;
		};

		sw2-key {
			label = "SW2";
			gpios = <&gpio2 RK_PD5 GPIO_ACTIVE_LOW>;	/* soDimm156 */
			linux,code = <KEY_F2>;
			debounce-interval = <25>;
			wakeup-source;
		};

		sw3-key {
			label = "SW3";
			gpios = <&gpio3 RK_PC4 GPIO_ACTIVE_LOW>;	/* soDimm174 */
			linux,code = <KEY_F3>;
			debounce-interval = <25>;
			wakeup-source;
		};

		sw4-key {
			label = "SW4";
			gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_LOW>;	/* soDimm176 */
			linux,code = <KEY_F4>;
			debounce-interval = <25>;
			wakeup-source;
		};

		sw5-key {
			label = "SW5";
			gpios = <&gpio2 RK_PD4 GPIO_ACTIVE_LOW>;	/* soDimm154 */
			linux,code = <KEY_F5>;
			debounce-interval = <25>;
			wakeup-source;
		};

		ext-tng-key {
			label = "EXT_TANGENTA";
			gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_LOW>;	/* soDimm170 */
			linux,code = <KEY_F13>;
			debounce-interval = <25>;
			wakeup-source;
		};

		/* FixMe: bt-wake realy button? */
		bt-wake {
			lebael = "BLUETOOTH_WAKE";
			gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;	/* soDimm172 */
			linux,code = <KEY_MACRO2>;
			wakeup-source;
		};
	};

	rfkill {
		compatible = "rfkill-gpio";
		radio-type = "wlan";
		shutdown-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_LOW>;	/* soDimm163 */
	};

	lvds_panel {
#if 0
	/* PKK LVDS display panel (in process)
	 *************************************/
	/*	FLD-070VMLW0PC001#00,  1280x768@60Hz
		PCLK (MHz)	61.6	66.4	74.6
		h-full-line	1320	1364	1458
		v-full-line	 778	 811	 853	*/
		compatible = "FLD-070VMLW0PC001#00", "panel-lvds";
		backlight = <&lvds_backlight>;
		data-mapping = "vesa-24";

		width-mm = <152>;
		height-mm = <91>;

		panel-timing {
			/* 1280x768-24@60 PCLK: 74.25MHz,
			screen 1237500px=1500*825=(1280+4+120+96)*(768+3+6+3) */
			clock-frequency = <74250000>;
			hsync-len =	<4>;
			hfront-porch =	<120>;
			hback-porch =	<96>;
			vsync-len =	<16>;
			vfront-porch =	<25>;
			vback-porch =	<16>;
			hactive = <1280>;
			vactive = <768>;
			de-active = <1>;
		};
#else
	/* Mitsubishi AA070TA01ADA11 LVDS display panel
	 *********************************************/
	/*	AA070TA01ADA11,        1280x768@60Hz DE-H
		PCLK (MHz)	50.0	62.8	74.6
		h-full-line	1310	1312	1536
		v-full-line	 782	 798	 ---	*/
		compatible = "panel-lvds";
		backlight = <&lvds_backlight>;
		data-mapping = "jeida-24";

		width-mm = <152>;
		height-mm = <91>;

		/*
		 * FixMe: DENA active high, h(f+b+l)=32, v(f+b+l)=30 @ 62.8MHz by spec,
		 *        but NOT work in out module! Fix polarity and recalculate.
		 */
		panel-timing {
#if 1 /* now working values, but have line unfunct */
			clock-frequency = <62503680>;
			hactive	= <1280>;
			vactive	= <768>;
			hfront-porch	= <18>;
			hsync-len	= <8>;
			hback-porch	= <6>;
			vfront-porch	= <8>;
			vsync-len	= <9>;
			vback-porch	= <9>;
#else
			/* 1280x768-24@60 PCLK: 66.000MHz,
			screen 1200000px=1375*800=(1280+95)*(768+32) */
			clock-frequency = <66000000>;
			hfront-porch =	<45>;
			hsync-len =	<40>;
			hback-porch =	<5>;
			vfront-porch =	<10>;
			vsync-len =	<11>;
			vback-porch =	<11>;
			hactive = <1280>;
			vactive = <768>;
#endif
			de-active	= <1>;
		};
#endif

		port {
			lvds_panel_in: endpoint {
				remote-endpoint = <&bridge_lvds_out>;
			};
		};
	};

	lvds_backlight: backlight {
		compatible = "pwm-backlight";
		enable-gpios = <&gpio2 RK_PD1 GPIO_ACTIVE_HIGH>;	/* soDimm148 */
		pwms = <&pwm0 0 100000 0>; /* FixMe: frequency !!! */
		brightness-levels = <0 25 51 76 102 127 153 178 204 229 255>;
		default-brightness-level = <2>;
		status = "okay";
	};

	/*
	 * HDMI connector
	 */
	hdmi-con {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	soundcard@0 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "RHOS RK3568 SGTL5000";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;

		simple-audio-card,cpu {
			sound-dai = <&i2s2_2ch 0>;
		};

		dailink0_master:
		simple-audio-card,codec {
			sound-dai = <&sgtl5000 0>;
		};
	};

};

&dsi1_out {
	mipi_dsi_out: endpoint {
		remote-endpoint = <&bridge_dsi_in>;
		clock-lanes = <0>;
		data-lanes = <1 2 3 4>;
	};
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&hdmi	{	status = "okay";	};

&i2c1 {
	light@44 {
		compatible = "isil,isl29035";
		vcc-supply = <&p3v3>;
		reg = <0x44>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PB4 (IRQ_TYPE_EDGE_RISING)>;	/* soDimm178 */
	};

	bmg160@57 {
		compatible = "bosch,bmi160";
		reg = <0x57>;
		vdd-supply = <&p3v3>;
		vddio-supply = <&p3v3>;
		interrupt-parent = <&gpio2>;
		interrupts = <RK_PD2 (IRQ_TYPE_EDGE_RISING)>;	/* soDimm150 */
		interrupt-names = "INT1";
	};

	rtc0: rtc@6f { /* ISL12020: I2C Real Time Clock (battery backup) */
		compatible = "isil,isl12022";
		reg = <0x6f>;
	};

	dsi2lvds-bridge@2c {
		compatible = "ti,sn65dsi83";
		reg = <0x2c>;
		enable-gpios = <&gpio2 RK_PD0 GPIO_ACTIVE_HIGH>;	/* soDimm146 */
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PD1 (IRQ_TYPE_EDGE_RISING)>;		/* soDimm165 */
		vcc-supply = <&p1v8>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				bridge_dsi_in: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&mipi_dsi_out>;
				};
			};

			port@2 {
				reg = <2>;
				bridge_lvds_out: endpoint {
					remote-endpoint = <&lvds_panel_in>;
				};
			};
		};
	};
};

&i2c2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	sgtl5000: codec@a {
		compatible = "fsl,sgtl5000";
		reg = <0xa>;
		#sound-dai-cells = <0>;
		assigned-clocks = <&pmucru CLK_WIFI>;
		assigned-clock-rates = <24000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&refclk_pins>;	/* soDimm140 and soDimm142 as MCLK - 24MHz default */
		clocks = <&pmucru CLK_WIFI>;
		VDDA-supply = <&p3v3>;		/* +3.3VA is crosseed +3.3V */
		VDDIO-supply = <&p3v3>;
		VDDD-supply = <&p1v8>;
		micbias-resistor-k-ohms = <2>;
		micbias-voltage-m-volts = <3000>;
		status = "okay";
	};
};

&i2c3 { /* SMBUS for battery */
	i2c-mux@71 {
		compatible = "nxp,pca9846";
		reg = <0x71>;
		vdd-supply = <&p1v8>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		int_slot: i2c@0 {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			sbs-battery@b {
				status = "okay";
				compatible = "maxim,max17320", "sbs,sbs-battery";
				reg = <0xb>;
				sbs,disable-charger-broadcasts; /* no SBS complaint charger */
			};
		};

		ext_slot: i2c@1 {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			sbs-battery@b {
				status = "okay";
				compatible = "maxim,max17320", "sbs,sbs-battery";
				reg = <0xb>;
				sbs,disable-charger-broadcasts; /* no SBS complaint charger */
			};
		};

		i2c@2 {
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		i2c@3 {
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};
};

/* MicroSD card slot
 ******************/
&sdmmc0 {	status = "okay";	};

/* PWMs
 *****/
&pwm0 {		status = "okay";	};

/* PCIe 2.0 disabled on this board
 **********************************/
&pcie2x1 {	status = "disabled";	};

/* PCIe 3.0 - WiFi interface slot
 *********************************/
&pcie3x2 {	status = "okay";	};

/* Bluetooth interface on WiFi slot
 ***********************************/
&uart1 {
	bluetooth {
		compatible = "mrvl,88w8997";
	};
};
